@font-face {
    font-family: 'eurofurencelightRegular';
    src: url('eurof35-webfont.eot');
    src: url('eurof35-webfont.eot?#iefix') format('embedded-opentype'),
         url('eurof35-webfont.woff') format('woff'),
         url('eurof35-webfont.ttf') format('truetype'),
         url('eurof35-webfont.svg#eurofurencelightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eurofurencelightitalic';
    src: url('eurof36-webfont.eot');
    src: url('eurof36-webfont.eot?#iefix') format('embedded-opentype'),
         url('eurof36-webfont.woff') format('woff'),
         url('eurof36-webfont.ttf') format('truetype'),
         url('eurof36-webfont.svg#eurofurencelightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eurofurencelightRegular';
    src: url('fonts/eurof35-webfont.eot');
    src: url('fonts/eurof35-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eurof35-webfont.woff') format('woff'),
         url('fonts/eurof35-webfont.ttf') format('truetype'),
         url('fonts/eurof35-webfont.svg#eurofurencelightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eurofurencelightitalic';
    src: url('fonts/eurof36-webfont.eot');
    src: url('fonts/eurof36-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eurof36-webfont.woff') format('woff'),
         url('fonts/eurof36-webfont.ttf') format('truetype'),
         url('fonts/eurof36-webfont.svg#eurofurencelightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eurofurenceregular';
    src: url('fonts/eurof55-webfont.eot');
    src: url('fonts/eurof55-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eurof55-webfont.woff') format('woff'),
         url('fonts/eurof55-webfont.ttf') format('truetype'),
         url('fonts/eurof55-webfont.svg#eurofurenceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eurofurenceitalic';
    src: url('fonts/eurof56-webfont.eot');
    src: url('fonts/eurof56-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eurof56-webfont.woff') format('woff'),
         url('fonts/eurof56-webfont.ttf') format('truetype'),
         url('fonts/eurof56-webfont.svg#eurofurenceitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eurofurencebold';
    src: url('fonts/eurof75-webfont.eot');
    src: url('fonts/eurof75-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eurof75-webfont.woff') format('woff'),
         url('fonts/eurof75-webfont.ttf') format('truetype'),
         url('fonts/eurof75-webfont.svg#eurofurencebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eurofurencebolditalic';
    src: url('fonts/eurof76-webfont.eot');
    src: url('fonts/eurof76-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eurof76-webfont.woff') format('woff'),
         url('fonts/eurof76-webfont.ttf') format('truetype'),
         url('fonts/eurof76-webfont.svg#eurofurencebolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}